/* 
    Created on : Aug 14, 2014, 8:51:03 PM
    Author     : HLN Consulting, LLC
*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#about .ui-dialog-contain, #help .ui-dialog-contain {
    max-width: none;
}
#about h3, #help h3 {
    font-size:1em;
}
#about p, #help p {
    font-size: 0.9em;
}
.version {
    right: 10px;
    top: 12px;
    position: absolute;
    font-size: .75em;
    color: #888;
}

.note {
    color: #4896db;
    font-size: .80em;
    padding-top: 10px;
}

.iceLogo {
    float:left;
    background-image: url(images/iceLogo.png);
    height:40px;
    width:120px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position:absolute;
}
.iceGridCell {
    /*height:50px;*/
    font-size: 0.9em;
    font-weight: normal;
}
.iceEvalSquare {
    font-size: 0.75em;
    border: 1px solid #bbb;
    padding: 5px;
    min-width: 150px;
    min-height: 70px;
    line-height: 1.5em;
    position:relative;
    margin-bottom: 5px;
    margin-right: 4px;
    float:left;
}
.iceEvalTable {
}
.iceDisease {
    background-color: rgb(255, 241, 184);
}
.iceEvalFalse {
    background-color: rgb(253, 248, 249);
}
.iceEvalTrue {
    background-color: rgb(236, 252, 240);
}
.iceRecommended {
    background-color: rgb(222, 223, 243);
}
.iceRecSquare {
    font-size: 0.75em;
    border: 1px solid #bbb;
    padding: 5px;
    min-width: 100px;
    min-height: 70px;
    line-height: 1.5em;
    position:relative;
}
.icePatSquare {
    font-size: 0.9em;
    border: 1px solid #bbb;
    padding: 5px 5px 0px 5px;
    line-height: 1.5em;
    position:relative;
    background-color: #eee;
}
.immunizationPopup {
}
.icePopup {
    position:absolute;
    top: -3px;
    right: -4px;
}
.izTable {
    font-size:0.6em;
}
.izPopup {
    width:200px;
}
.izPopup section h3 {
    font-size: 0.6em;
    margin: 5px 0;
}
.izPopup ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.izPopup ul li {
    padding-left: 15px;
    font-size: 0.6em;
}
.izSelect .ui-select {
    margin-top:0.5em;
}
.izTypeSelect {
    width:10.5em;
}
.izTypeSelect fieldset {
    width:10em;
    margin-top: 0.5em;
}

@media all {
    .ui-responsive td.izSelect .ui-select {
        max-width:18em;
    }
}

@media ( max-width: 40em ) {
    .ui-responsive td.izSelect .ui-select {
        max-width:12em;
    }
}

@media ( max-width: 35em ) {
    .ui-responsive td.izSelect .ui-select {
        max-width:18em;
    }
}

.izSelect .ui-select {
    text-overflow: ellipsis;
}
.izAction {
    width:30px;
}
.izAction .ui-icon-delete {
    margin-top:0.54em;
}
.ui-popup.ui-content {
    background-color: #eee;
}
.floatRight {
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.inline-label {
    color: mediumblue;
}
.floatLeft {
    margin-left:4px;
    float:left;
}

.icePatLabel {
    font-weight:bold;
    float:left;
    text-align:right;
    width:150px;
}
.icePatData {
    float:left;
}
.floatLeft100 {
    width:100%;
    float:left;
    margin-bottom:10px;
}
.formLabel {
    font-weight:bold;
    text-align:right;
    width:150px;
}
.patCaption {
    width:100px;
}
.ui-table caption {
    margin-bottom:4px;
    margin-left:0;
    opacity:inherit;
    font-weight:bold;
}
.ui-datebox-container {
    border: 2px solid #999!important;
    padding: 6px 6px 0px 6px;
}
/*.iceDateInput {
    max-width: 40px;
}*/
.iceDateInput .ui-input-text {
    min-width:115px;
    margin-top: 0.35em;
}
.iceDateInput a.ui-input-clear {
    background-color: transparent;
}
#savePatientForm > table > tbody > tr > td.izEvalDateInput > .ui-input-text > a.ui-icon-delete {
    margin-right:30px;
}
#savePatientForm a.ui-icon-calendar:hover {
    background-color: #f6f6f6;
}
.ui-datebox-controls a.ui-icon-delete {
    margin-left:10px;
}

.ui-responsive tr {
    border-bottom: 1px solid #ccc;
}

.ui-table-reflow tbody th {
    margin-top: 0em;
}

/*  validation css */

label.error {
    color: red;
}

.ui-page > .ui-footer > h4 {
    font-size: .8em;
}

/* 
@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}
 
@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}
 
em { color: red; font-weight: bold; padding-right: .25em; }*/